.register {
    margin: 30px 0 50px 0;
}

.register__title {
    font-weight: 600;
    font-size: 20px;
    color: #1c1c27;
    margin-bottom: 12px;
    display: block;
}

.register__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 15px;
    max-height: 570px;
    height: 100%;
}

.register__info {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 30px;
    padding: 15px;
}

.div1 {
    grid-area: 1 / 1 / 5 / 2;
    margin-right: 15px;
    padding: 23px 31px 32px 38px;
    position: relative;
    max-height: 570px;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.div4 {
    grid-area: 3 / 2 / 4 / 3;
}

.div5 {
    grid-area: 4 / 2 / 5 / 3;
}

.register__info-title {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 20px;
}

.register__info-price {
    position: absolute;
    top: 23px;
    right: 31px;
    font-size: 15px;
}

.register__info-text {
    display: flex;
    gap: 12px;
    margin: 22px auto 18px auto;
}

.input__box {
    background: #d6d6d6;
    border-radius: 15px;
    display: flex;
    padding: 14px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.register__info-input {
    background: #d6d6d6;
}

.register__info-geo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 10px;
}

.giv1 {
    grid-area: 1 / 1 / 2 / 3;
}

.giv2 {
    grid-area: 2 / 1 / 3 / 3;
}

.giv3 {
    grid-area: 3 / 1 / 4 / 2;
}

.giv4 {
    grid-area: 3 / 2 / 4 / 3;
}

.giv5 {
    grid-area: 4 / 1 / 5 / 2;
}

.register__info-list {
    display: flex;
    justify-content: space-between;
}

.register__info-box {
    display: flex;
    justify-content: space-between;
}

.register__delivery-box {
    display: flex;
    align-items: center;
    gap: 12px;
}

.register-dop {
    margin: 0;
}

.register__delivery-title {
    font-weight: 500;
    font-size: 15px;
}

.register-input {
    padding-left: 5px;
}

.register__info-phone {
    background: #d6d6d6;
}

.input-dop {
    margin-top: 20px;
}

.register-btn {
    box-shadow: 0 0 20px 0 rgba(67, 216, 84, 0.25);
    background: #101010;
    color: #fff;
    padding: 13px 0;
    width: 100%;
    border-radius: 10px;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
}